<!DOCTYPE html>
<html>
  <head>
<script type="text/javascript" src="http://chir.ag/projects/ntc/ntc.js"></script>

  </head>
  <body>
	
	
<video id="video" width="640" height="480" autoplay></video>
<p id="colorbox"> HEllo </p>
    
<canvas id="canvas" width="640" height="480"></canvas>

<script>

  function rgbToHex(r, g, b) {
    if (r > 255 || g > 255 || b > 255)
        throw "Invalid color component";
    return ((r << 16) | (g << 8) | b).toString(16);
}
  
  
  
// Grab elements, create settings, etc.
var video = document.getElementById('video');
  var colorbox = document.getElementById('colorbox');
var processor = {};
var c1 = document.getElementById('canvas');
var ctx1 = c1.getContext('2d');

processor.computeFrame = function computeFrame() {
    ctx1.drawImage(video, 0, 0, 640, 480);
    
  
  var R = 0;
  var G = 0;
  var B = 0;
    for (x = 0; x < 20; x++) {
        for (y = 0; y < 20; y++) {
  var p = ctx1.getImageData(310 + y, 230 + x, 1, 1).data;
    R = R + p[0];
    G = G + p[1];
    B = B + p[2];
      }
    }
  R = R / 400;
  B = B / 400;
  G = G / 400;
  
  var hex = "#" + ("000000" + rgbToHex(R, G, B)).slice(-6);
   var n_match  = ntc.name(hex);
   
  colorbox.innerHTML  = n_match[1];
  }

  
  processor.timerCallback = function timerCallback() {
    processor.computeFrame();
    setTimeout(function() {
        processor.timerCallback();
      }, 0);
  };




// Get access to the camera!
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    // Not adding `{ audio: true }` since we only want video now
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        //video.src = window.URL.createObjectURL(stream);
        video.srcObject = stream;
		
       self.width = video.videoWidth;
        self.height = video.videoHeight;
        processor.timerCallback();
      
   
  });
}







/* Legacy code below: getUserMedia 
else if(navigator.getUserMedia) { // Standard
    navigator.getUserMedia({ video: true }, function(stream) {
        video.src = stream;
        video.play();
    }, errBack);
} else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
    navigator.webkitGetUserMedia({ video: true }, function(stream){
        video.src = window.webkitURL.createObjectURL(stream);
        video.play();
    }, errBack);
} else if(navigator.mozGetUserMedia) { // Mozilla-prefixed
    navigator.mozGetUserMedia({ video: true }, function(stream){
        video.srcObject = stream;
        video.play();
    }, errBack);
}
*/

</script>


  </body>
</html>
